barbearia_node_fixed.json
{
  "name": "Barbearia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barbearia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7472,
        7840
      ],
      "id": "d0d5b4eb-3392-4cd3-a63e-1c71b69d486b",
      "name": "Webhook",
      "webhookId": "2da53811-e6f8-4cf8-894d-675ee7458665"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82d04ca1-dee3-4bbb-a4ae-f434e1ab25f8",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "58110d47-e36f-47b8-9d8d-4779b255ef59",
              "name": "Nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "14a713c2-2a43-46c0-b5f4-ad45ea9cba76",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "0429aaf0-bc8e-4cd7-955c-e06fa05586bc",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "40937027-ddf5-4f20-b638-bc3cc893174b",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "0a2f1306-61d4-4263-875c-fbe858af44f3",
              "name": "date_time",
              "value": "={{ new Date($json.body.date_time).toLocaleString('sv-SE').slice(0, 16) }}",
              "type": "string"
            },
            {
              "id": "ddf2d9e5-c4f0-4c87-83ea-cdbefb6d2911",
              "name": "server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "dc401d1a-62f3-4505-af58-7ed535a1da0c",
              "name": "apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "8da197f8-622c-4e20-8a64-3039dd125cba",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "ed68781e-6cf2-4b23-8e77-560d10e72ff0",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "c79489c9-689b-44dd-b37e-8e110539b0ec",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "fc061327-af13-42e2-a928-38b95d32ddce",
              "name": "Timestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7680,
        7840
      ],
      "id": "d873eec7-512d-4eeb-a4d6-0e87adadc1d5",
      "name": "Dados"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7888,
        7840
      ],
      "id": "1b8b647b-70f7-4344-8005-99a824f5517e",
      "name": "Analiz Client",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8480,
        7984
      ],
      "id": "6505bebc-4bdd-42c3-9e58-60f027935c55",
      "name": "Wait",
      "webhookId": "ac09364f-bfc2-4271-9d49-6712ddc861a2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53cee69f-a929-42d4-bdce-2dc3924f3b4f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca5845ee-bc9c-4de2-978e-4e1aa973c768",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "ephemeralMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "43c94502-c642-49d7-ac32-7810cb1574c7",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "extendedtextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca3952ba-96f6-44ff-bf97-589224e1aa98",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55abc38f-90ad-4aec-b4cb-029200092036",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57fddf91-03e4-4c20-bec1-18a2a0891884",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "stickerMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e6717a80-b681-4d5a-ab75-4afd4369413b",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "763b4458-3251-4801-8a32-4fe41e51cdc1",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8752,
        7984
      ],
      "id": "346cf971-0965-4546-8ccb-18064e1e1ed4",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f9d5f04c-1b22-4d78-9a76-51d985ecc686",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8080,
        7840
      ],
      "id": "2157ea52-fc4a-497d-ae07-afd2147c8724",
      "name": "Client ou não",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "followups",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8288,
        7760
      ],
      "id": "60b1546f-f247-4a5a-8781-c431e01ac7d5",
      "name": "Apaga",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "clientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Dados').item.json.telefone }}"
            },
            {
              "fieldId": "criado_em",
              "fieldValue": "={{ $('Dados').item.json.date_time }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Dados').item.json.Nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8288,
        7920
      ],
      "id": "6e4de3df-6d8a-4f9a-a0db-25449076b59b",
      "name": "Criar",
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "945455cf-5679-4870-9e8e-b98bc3fb84b1",
              "leftValue": "={{ $('Dados').item.json.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8784,
        7456
      ],
      "id": "8c52a687-c622-46b4-b7b0-cccf2fbd048b",
      "name": "Regra"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40a6777-309b-4473-a811-174ea75a1f64",
              "name": "telefone",
              "value": "={{ $('Dados').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "acfa2be0-a341-40bd-aac1-0277fa444514",
              "name": "message",
              "value": "={{ $('Dados').item.json.message }}",
              "type": "string"
            },
            {
              "id": "e64df96d-ffb8-4d6b-b2fb-d6fcad5d3f21",
              "name": "id",
              "value": "={{ $('Dados').item.json.id }}",
              "type": "string"
            },
            {
              "id": "317990e3-b71f-4439-8a45-5eb97633e3a8",
              "name": "Timestemp",
              "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9216,
        7744
      ],
      "id": "1dcd1d36-dd88-4d60-b6f9-c187f42f47d6",
      "name": "Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70d04883-5274-4f9f-b625-f38e512c645f",
              "name": "base64",
              "value": "={{ $('Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9216,
        8176
      ],
      "id": "0cf28058-9ac3-4d39-8056-70647ae4ab17",
      "name": "Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a23f8bd6-9a62-41a9-9a90-a7dc9b1f66a4",
              "name": "base64",
              "value": "={{ $('Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9216,
        7888
      ],
      "id": "91e371ec-421e-49b7-b4b2-bbf8b2eac6c0",
      "name": "Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a5d02ce-c846-4748-8223-737b1c764efa",
              "name": "base64",
              "value": "={{ $('Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9216,
        8032
      ],
      "id": "ccb603a6-9320-4ea7-aec0-37a86ed282f2",
      "name": "Image"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        9584,
        7888
      ],
      "id": "6cc1aa34-81f5-49f9-97d1-7276f3281641",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "PD7RfZM6eEdOrb32",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        9408,
        7888
      ],
      "id": "06ab49ea-f09c-49d3-b87e-e13ea5c9afe9",
      "name": "Convert"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        9408,
        8032
      ],
      "id": "63533cda-8b6f-432a-97d3-34733f0600a4",
      "name": "Convert1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        9408,
        8176
      ],
      "id": "76382fa3-60f7-463b-bbe6-26728d0b70cd",
      "name": "Convert2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f70aabee-d981-40ea-bb4b-d149163c1632",
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "464d9e33-6a7a-48f0-8300-3e95ab1aa29b",
              "name": "id",
              "value": "={{ $('Dados').item.json.id }}",
              "type": "string"
            },
            {
              "id": "225af05e-fbb2-46b2-af12-f5227b8d3419",
              "name": "date_time",
              "value": "={{ $('Dados').item.json.date_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9792,
        7888
      ],
      "id": "cd474f9e-96e5-4cb3-abd7-c2af406ca155",
      "name": "Audio1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Descreva todo o conteudo da imagem. Responda sem acento, sem hifens",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        9584,
        8032
      ],
      "id": "ca69d549-8031-48c3-9cea-58f329bb084d",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "PD7RfZM6eEdOrb32",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Descreva todo o conteudo do video. Responda sem acento, sem hifens",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        9584,
        8176
      ],
      "id": "1c4a0f1a-4a02-49d9-922b-d6ca7fb01552",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "PD7RfZM6eEdOrb32",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2442e615-0e6a-4cde-a1e0-8bc450e62ec2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9792,
        8032
      ],
      "id": "4cb594f0-80a8-4cd1-a72e-3d0d700af489",
      "name": "image"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Dados').item.json.telefone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        10496,
        7856
      ],
      "id": "67fabb86-0268-4b55-9ce5-2a46b36480b7",
      "name": "Buscar",
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        10080,
        7824
      ],
      "id": "7cc5c0fc-39b9-4ba0-8430-1e39c01a1508",
      "name": "Geral"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9792,
        8176
      ],
      "id": "7948fd06-52b1-4d0b-9e31-9992ed4127af",
      "name": "Video1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        10976,
        7712
      ],
      "id": "ee41d4af-9b0e-4945-9f14-efc9cce0423d",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bdf1a36-c8b7-484e-a789-08c245e3482a",
              "name": "message",
              "value": "={{ $('Switch1').item.json.message.map(valor => JSON.parse(valor).message).join('\\n') }}",
              "type": "string"
            },
            {
              "id": "ad10c1a8-4c95-4bc7-b0f2-ec6e7c5b181a",
              "name": "telefone",
              "value": "={{ $('Dados').item.json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11184,
        7904
      ],
      "id": "b9feb35b-fa15-4d0a-b073-0d060378c49c",
      "name": "listaMensagens"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.telefone }}",
        "messageData": "={{ $json.toJsonString() }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        10288,
        7856
      ],
      "id": "0f5c06a9-e7b2-43b4-96cb-875ca67c6770",
      "name": "Enviar",
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.last()).id }}",
                    "rightValue": "={{ $('Dados').item.json.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "51d91487-7761-4204-9d58-51d7adca92ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1846612e-0136-490e-9d0f-1086a79361cb",
                    "leftValue": "={{ JSON.parse($json.message.last()).Timestemp }}",
                    "rightValue": "={{ $now.minus(15,'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prosseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Espera"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        10704,
        7888
      ],
      "id": "e46fd8ae-286a-4877-b457-5ea1b97e1b8e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        10976,
        7904
      ],
      "id": "54f2eac2-47c3-46db-b66c-b422aba4f856",
      "name": "Delete",
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Agente",
        "remoteJid": "={{ $('Dados').item.json.telefone }}",
        "messageText": "={{ $json.text }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        12464,
        7792
      ],
      "id": "d0d9be3f-d9a0-4335-a290-60df1cc51e3c",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "Y5qPtPNRsSXjJmRW",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "id": "3df13843-21c0-493a-9d13-1e5c13ae77c5",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        12304,
        7792
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ String($('listaMensagens').item.json.message || '').replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}",
        "options": {
          "systemMessage": "=Hoje é {{ $now.weekdayLong }}, dia {{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm') }}\n\n\n⚠️ REGRA PRINCIPAL  \nSe cliente falar de serviço, preço ou agendamento:  \n→ SEMPRE usar tool \"servicos\"  \n→ Nunca inventar  \n\n⚠️ REGRA CRÍTICA  \nSe identificar um serviço:  \n→ OBRRIGATÓRIO chamar \"criar_servico\"  \n\n🎯 OBJETIVO  \nConversar e agendar sem fricção  \n\n🎭 PERSONALIDADE  \n- Brasileiro, simples  \n- Pode usar: \"fala irmão\", \"bora\"  \n- Educado  \n- Máx 2 linhas  \n\n📲 CONTEXTO  \nNome: {{ $json.nome || \"cliente\" }}  \nMensagem: {{ $json.mensagem }}  \nStatus: {{ $json.status }}  \n\n📢 APRESENTAÇÃO  \nSe status = \"lead\":  \n→ Fala irmão, aqui é o André da Barbearia Alfa 👊 O que você quer fazer hoje?  \n\n---\n\n🧠 EXTRAÇÃO INTELIGENTE\n\nAntes de perguntar, analisar a mensagem.\n\nSe cliente já informou:\n\n* serviço\n* data\n* hora\n\n→ NÃO perguntar novamente\n→ Preencher automaticamente:\n{{ $json.servico }}\n{{ $json.data }}\n{{ $json.hora }}\n\nRegras:\n\n* \"14h\" → \"14:00\"\n* \"9h\" → \"09:00\"\n* Nunca usar segundos\n* \"amanhã\" → data válida\n* Nunca repetir pergunta já respondida\n\nExemplo:\n\"corte amanhã 14h\" → preencher tudo automaticamente\n\n---\n\n💈 SERVIÇOS  \n1. Chamar \"servicos\"  \n2. Listar:  \n- Nome — R$valor  \n- Nome — R$valor  \nQual você quer?  \n\nRegras:  \n- Um por linha  \n- Sem texto extra  \n- Nunca inventar  \n\n---\n\n🧠 ESCOLHA DE SERVIÇO\n\nSe cliente mencionar serviço:\n\n1. Buscar em \"servicos\"\n2. Extrair nome, preco, duracao\n3. Só chamar \"criar_servico\" se preco e duracao existirem\n\n{\n\"nome\": \"nome\",\n\"preco\": numero,\n\"duracao\": numero\n}\n\nRegras:\n\n* Sem \"R$\"\n* Só número\n* Nunca enviar null\n* Nunca vazio\n* Se faltar preco ou duracao → não chamar tool\n\n---\n\n🧠 NOME (OBRIGATÓRIO)\n\nSe {{ $json.nome }} for vazio ou \"cliente\":\n\n→ Perguntar:  \n\"Qual seu nome pra eu agendar certinho?\"\n\n→ Ao receber: chamar \"Atualiza\":\n\n{\n  \"nome\": \"nome extraído\"\n}\n\n→ Continuar automaticamente o fluxo  \n\n---\n\n📅 AGENDAMENTO  \n\nValidar:\n- nome\n- servico\n- data\n- hora  \n\nRegras:\n- Antes de perguntar → verificar se já existe na mensagem ou contexto  \n- Se já existir → NÃO perguntar  \n- Se faltar algo → perguntar só o que falta  \n- Se tudo estiver completo → agendar direto  \n\n⚠️ CONTINUIDADE  \nSe cliente acabou de informar nome e já existe serviço/data/hora:  \n→ NÃO perguntar nada  \n→ Agendar direto  \n\n---\n\n2. Chamar \"agendar\":\n\n{\n  \"nome\": \"{{ $json.nome }}\",\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"servico\": \"{{ $json.servico }}\",\n  \"data\": \"{{ $json.data }}\",\n  \"hora\": \"{{ $json.hora }}\",\n  \"status\": \"confirmado\"\n}\n\n---\n\n3. Resposta final:\n\nFechou {{ $json.nome }}, te coloquei {{ $json.data }} às {{ $json.hora }} 👍  \n\n---\n\n🚫 PROIBIDO  \n- Perguntar algo já informado  \n- Inventar dados  \n- Pular tool  \n- Texto longo  \n\n---\n\n✅ FORMATO  \n- WhatsApp  \n- Curto  \n- Sem \\n  \n- Só resposta final  "
        }
      },
      "id": "11501ebb-b3c3-4b50-8992-07559d1b9064",
      "name": "André, Atendente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        11696,
        7792
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10976,
        8080
      ],
      "id": "8e588384-ae8e-42e5-bca0-f36a65a1dd10",
      "name": "Wait1",
      "webhookId": "a8720188-de1f-4b31-8235-7a7fd27ccb32"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e66db0-00dc-481d-951c-1fde558e268e",
              "name": "text",
              "value": "={{ String($('André, Atendente').item.json.output || '').trim().split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "679ea9dd-f651-4e0f-bf04-39b2174e7ee5",
      "name": "Organização",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12160,
        7792
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "followups",
          "mode": "list",
          "cachedResultName": "followups"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7520,
        7232
      ],
      "id": "93ee1096-6e9f-42a6-977e-c95ac6d1da8e",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "GXA97TFFsDH1xkDn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## LIMPAR CONVERSAS",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7440,
        7152
      ],
      "typeVersion": 1,
      "id": "37de5b09-9a25-4983-aa22-dc32ae0344be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $json.mensagem }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        11504,
        7456
      ],
      "id": "183e0afa-3ce9-4e7e-aa6c-1510835ef803",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.instance }} {{ $json.telefone }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9040,
        7504
      ],
      "id": "f9d479d8-711c-46a0-85bc-8fcac456b61d",
      "name": "Buscar chave",
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c8e4967-7655-43f5-9083-865553dfbb27",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9248,
        7504
      ],
      "id": "bf79ba33-675e-4241-a36c-1d037f1d7c9a",
      "name": "isblocked?"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Dados').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        11504,
        7568
      ],
      "id": "2292732d-de50-43b9-a9a4-78db9704c204",
      "name": "inserir mensage"
    },
    {
      "parameters": {
        "content": "Cadastro de Dados / Atualizção",
        "height": 544,
        "width": 1216,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7424,
        7680
      ],
      "typeVersion": 1,
      "id": "3094c6ce-be07-483b-b76c-6a691c7ac9dc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Pausa para atendimento Humano",
        "height": 352,
        "width": 736,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8720,
        7312
      ],
      "typeVersion": 1,
      "id": "1c7f5572-fe16-4dbe-b0ac-e30b55af34fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.telefone }} block",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9040,
        7360
      ],
      "id": "7e4391e5-74f2-43b2-86d2-90a81f253522",
      "name": "Criar chave",
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "trascrição de todos os arquivos",
        "height": 656,
        "width": 1488,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8736,
        7728
      ],
      "typeVersion": 1,
      "id": "742760ed-bdff-429f-b548-8bfb97a443d5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Pausa das mensagens ",
        "height": 704,
        "width": 1056,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10272,
        7648
      ],
      "typeVersion": 1,
      "id": "07a85a0a-3d4c-4a0d-b429-cbc5fa20edb9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Celebro do Sistema",
        "height": 656,
        "width": 1328,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11360,
        7760
      ],
      "typeVersion": 1,
      "id": "b3feb926-5a6d-45d3-bc66-6fbfa4f6ecf5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Celebro do Sistema",
        "height": 304,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11360,
        7408
      ],
      "typeVersion": 1,
      "id": "a18161f7-7c66-48bd-a745-41d49fa7d811",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "tableId": "followups",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "criado_em",
              "fieldValue": "={{ $('Dados').item.json.date_time }}"
            },
            {
              "fieldId": "mensagem_lembrete",
              "fieldValue": "={{ $('Dados').item.json.message }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Dados').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8496,
        7760
      ],
      "id": "b1a8dcfb-537d-4978-8c81-0894dd56914b",
      "name": "Atualizar Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=conversas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Dados').item.json.telefone }}",
            "mensagem": "={{ $json.message }}",
            "tipo": "cliente",
            "criado_em": "={{ $('Dados').item.json.date_time }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11408,
        7792
      ],
      "id": "f0b1c06c-c4e7-4c77-a7ea-f96e4ec18abb",
      "name": "Salvar mensagem do cliente",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "GXA97TFFsDH1xkDn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=conversas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $json.output }}",
            "telefone": "={{ $('Dados').item.json.telefone }}",
            "tipo": "ia",
            "criado_em": "={{ $('Dados').item.json.date_time }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        12016,
        7792
      ],
      "id": "bfcf62b0-9af7-49e5-af8c-70e8d6c2bb00",
      "name": "Salvar resposta da ia",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "GXA97TFFsDH1xkDn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "a7477a01b2798861b30cf0f068dfd4890e8f0dca887097c339434bf14146c55c@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Agenda Barbearia "
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Data e hora no formato Datetime. TZ -03:00.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Data e hora de final no formato Datetime. TZ -03:00.`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        11632,
        8288
      ],
      "id": "02c5183f-b5b2-4e7d-82df-4a66854f615c",
      "name": "Agendamentos",
      "notesInFlow": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gf6aljMxzBI5oFfJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.telefone }}",
        "tableName": "mensagens",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        11504,
        8176
      ],
      "id": "b70bf378-a2d6-4ef5-84ae-8cf3e82803dd",
      "name": "Memoria",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "GXA97TFFsDH1xkDn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "agendamentos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "servico",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        11952,
        8048
      ],
      "id": "61a7f421-473c-41e1-a101-1bdb3bad14b8",
      "name": "Agendar",
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        12048,
        8048
      ],
      "id": "5ec56568-224f-4b26-a0ec-11be0a45323e",
      "name": "Atualiza",
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "servicos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "preco",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "duracao",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        12144,
        8048
      ],
      "id": "db8097f9-b5bc-44cf-afbb-f05800b9e275",
      "name": "criar_servico",
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1a2P1Q6U_3fMVi9_ihSmQirKkVfWoXwYYgdhD-16-UsM/edit?tab=t.0#heading=h.qrq85dj5rljt"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        12240,
        8048
      ],
      "id": "b4b7daca-1faa-46ac-a503-d3e9aed226a4",
      "name": "servicos",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "yWNpi00EICZb5iFz",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        11408,
        8032
      ],
      "id": "7297ded2-3721-4d58-a2b0-4c2ffcba9f9f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FUFioTMmxlgqj3IR",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "description": "Atue como um especialista sênior em automações com n8n, CRM para barbearias e integrações com WhatsApp.\n\nSeu papel não é apenas gerar fluxos, mas pensar, validar e otimizar a lógica antes de implementar.\n\n🎯 CONTEXTO DO PROJETO\n\nEstou construindo um sistema de CRM para barbearia chamado BarberCRM, com foco em:\n\nReativação de clientes inativos\nAutomação de agendamentos\nAumento de recorrência\nComunicação automática via WhatsApp\n🧩 SUA MISSÃO\n\nMe ajudar a projetar, validar e melhorar fluxos no n8n com inteligência, seguindo boas práticas de automação e evitando erros comuns.\n\n⚙️ COMO VOCÊ DEVE RESPONDER\n\nSempre siga este processo antes de entregar qualquer solução:\n\n1. 🧠 Entendimento do problema\nReescreva o objetivo de forma clara\nIdentifique possíveis falhas ou pontos de melhoria\n2. 🔍 Estratégia\nDefina a melhor lógica para o fluxo\nSugira melhorias (ex: segmentação, timing, personalização)\n3. 🏗️ Arquitetura do fluxo\nListe todos os nodes do n8n\nExplique a função de cada um\nMostre a ordem correta\n4. 🔌 Integrações\nSugira APIs (WhatsApp, banco de dados, etc.)\nExplique como conectar\n5. 🧾 Implementação\nGere o JSON completo do fluxo (pronto para importar)\nUse boas práticas de nomenclatura\n6. 📈 Otimização\nSugira melhorias futuras\nMétricas importantes (ex: taxa de resposta, conversão)\n🚫 REGRAS IMPORTANTES\nNÃO gere soluções genéricas\nNÃO pule etapas de raciocínio\nNÃO simplifique demais — quero nível profissional\nSempre pense em escalabilidade\nSempre evitar spam e bloqueios no WhatsApp\n💡 CONTEXTO TÉCNICO\nPlataforma: n8n\nCanal principal: WhatsApp (API como Z-API, Twilio ou 360Dialog)\nBanco de dados: pode assumir PostgreSQL ou Airtable\nExecução automática via Cron\n🎯 EXEMPLO DE TAREFA\n\n\"Crie um fluxo de follow-up para clientes inativos há 30 dias\"\n\n🧠 DIFERENCIAL ESPERADO\n\nQuero que você pense como um:\n\nEngenheiro de automação\nEspecialista em CRM\nEstrategista de retenção de clientes"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        11856,
        8048
      ],
      "id": "c382fefa-0fce-40c2-8805-01f2531eefc6",
      "name": "Think"
    },
    {
      "id": "fromme-early-exit-001",
      "name": "E de mim?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7784,
        7840
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fromme-check-001",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "E de mim?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiz Client": {
      "main": [
        [
          {
            "node": "Client ou não",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Analiz Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client ou não": {
      "main": [
        [
          {
            "node": "Apaga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apaga": {
      "main": [
        [
          {
            "node": "Atualizar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regra": {
      "main": [
        [
          {
            "node": "Criar chave",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar chave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Convert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video": {
      "main": [
        [
          {
            "node": "Convert2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio1": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert2": {
      "main": [
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geral": {
      "main": [
        [
          {
            "node": "Enviar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video1": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Buscar": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "main": [
        [
          {
            "node": "listaMensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listaMensagens": {
      "main": [
        [
          {
            "node": "Salvar mensagem do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "André, Atendente": {
      "main": [
        [
          {
            "node": "Salvar resposta da ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar chave": {
      "main": [
        [
          {
            "node": "isblocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isblocked?": {
      "main": [
        [
          {
            "node": "inserir mensage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar chave": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Cliente": {
      "main": [
        [
          {
            "node": "Regra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar mensagem do cliente": {
      "main": [
        [
          {
            "node": "André, Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar resposta da ia": {
      "main": [
        [
          {
            "node": "Organização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "inserir mensage",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "André, Atendente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "criar_servico": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "servicos": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "E de mim?": {
      "main": [
        [],
        [
          {
            "node": "Analiz Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}