n8n_followup_fixed.json
{"updatedAt":"2026-05-08T15:15:51.162Z","createdAt":"2026-05-06T01:48:30.906Z","id":"ocGuVNYkRL96jrgq","name":"Barbearia - Follow-up & Reativação","description":"Lembra clientes de agendamentos via WhatsApp (24h e 2h antes) e convida inativos há 30+ dias a voltarem à barbearia.","active":true,"isArchived":false,"nodes":[{"id":"e00ed855-96bf-4631-afc9-d6a33a078f30","name":"A cada hora 24h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}}},{"id":"e6832ebb-4c1f-4666-a24e-edc022ed09c3","name":"Agendamentos - Lembrete 24h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,0],"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filterType":"string","filterString":"=status=eq.confirmado&lembrete_24h_enviado=eq.false&data_hora_agendamento=gte.{{$now.setZone('America/Sao_Paulo').plus(23,'hours').toISO()}}&data_hora_agendamento=lte.{{$now.setZone('America/Sao_Paulo').plus(25,'hours').toISO()}}"},"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"5deadf11-b885-44e0-acb3-753ec5b008f5","name":"Tem agendamentos 24h?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"and","conditions":[{"id":"1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}}},{"id":"627bf4f2-199b-4838-b20b-45267d2b0429","name":"Marcar 24h Enviado","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,0],"parameters":{"operation":"update","tableId":"agendamentos","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Agendamentos - Lembrete 24h').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"lembrete_24h_enviado","fieldValue":"true"}]}},"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"5ad830bc-7667-4504-be0f-29c3bbcfe4a0","name":"Enviar Lembrete 24h","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,0],"parameters":{"method":"POST","url":"https://evo.andreverissimo.shop/message/sendText/Agente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"FBB78FFF18C8-4107-BF98-F0A4C438F6E1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Agendamentos - Lembrete 24h').item.json.telefone }}"},{"name":"text","value":"=Olá {{ $('Agendamentos - Lembrete 24h').item.json.nome }}! 💈\n\nSeu horário é amanhã às {{ $('Agendamentos - Lembrete 24h').item.json.hora.slice(0,5) }} ✂️\n\nResponda *SIM* para confirmar ou *NÃO* para cancelar.\n\n"}]},"options":{}}},{"id":"8573edba-1050-4d33-9271-61db2b3a72ee","name":"Registrar Followup 24h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,0],"parameters":{"tableId":"followups","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Agendamentos - Lembrete 24h').item.json.telefone }}"},{"fieldId":"tipo","fieldValue":"lembrete_agendamento"},{"fieldId":"subtipo","fieldValue":"lembrete_24h"},{"fieldId":"agendamento_id","fieldValue":"={{ $('Agendamentos - Lembrete 24h').item.json.id }}"},{"fieldId":"mensagem_lembrete","fieldValue":"={{ 'Lembrete 24h: ' + $('Agendamentos - Lembrete 24h').item.json.nome + ' - ' + $('Agendamentos - Lembrete 24h').item.json.data }}"},{"fieldId":"enviado","fieldValue":"true"},{"fieldId":"data_envio","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"encerrado","fieldValue":"false"}]}},"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"f74441f6-e36a-4d4f-b9ec-0ed13c135861","name":"A cada hora 2h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,224],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}}},{"id":"719dcab4-7e54-49fe-b5fa-07b2afe1f788","name":"Agendamentos - Lembrete 2h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,224],"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filterType":"string","filterString":"=status=eq.confirmado&lembrete_2h_enviado=eq.false&data_hora_agendamento=gte.{{$now.setZone('America/Sao_Paulo').plus(1,'hours').toISO()}}&data_hora_agendamento=lte.{{$now.setZone('America/Sao_Paulo').plus(3,'hours').toISO()}}"},"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"1eb8765b-418b-488c-a8c8-6dea21c589d2","name":"Tem agendamentos 2h?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,224],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"and","conditions":[{"id":"1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}}},{"id":"35480350-98e4-40f1-b6ed-74c202f621c4","name":"Marcar 2h Enviado","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,224],"parameters":{"operation":"update","tableId":"agendamentos","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Agendamentos - Lembrete 2h').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"lembrete_2h_enviado","fieldValue":"true"}]}},"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"c75f39ab-5e70-45eb-875c-072f4792a230","name":"Enviar Lembrete 2h","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,224],"parameters":{"method":"POST","url":"https://evo.andreverissimo.shop/message/sendText/Agente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"FBB78FFF18C8-4107-BF98-F0A4C438F6E1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Agendamentos - Lembrete 2h').item.json.telefone }}"},{"name":"text","value":"=Ei {{ $('Agendamentos - Lembrete 2h').item.json.nome }}! 💈\n\nSeu horário é hoje às {{ $('Agendamentos - Lembrete 2h').item.json.hora.slice(0,5) }} ✂️\n\nTe esperamos! 👊"}]},"options":{}}},{"id":"2ff8aafc-1059-4da1-b1b4-735bd385d83a","name":"Registrar Followup 2h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,224],"parameters":{"tableId":"followups","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Agendamentos - Lembrete 2h').item.json.telefone }}"},{"fieldId":"tipo","fieldValue":"lembrete_agendamento"},{"fieldId":"subtipo","fieldValue":"lembrete_2h"},{"fieldId":"agendamento_id","fieldValue":"={{ $('Agendamentos - Lembrete 2h').item.json.id }}"},{"fieldId":"mensagem_lembrete","fieldValue":"={{ 'Lembrete 2h: ' + $('Agendamentos - Lembrete 2h').item.json.nome + ' - ' + $('Agendamentos - Lembrete 2h').item.json.data }}"},{"fieldId":"enviado","fieldValue":"true"},{"fieldId":"data_envio","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"encerrado","fieldValue":"false"}]}},"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"a94ce3ce-69ec-4542-ab75-aa34ffa5dbcf","name":"Reativação","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,448],"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}}},{"id":"a57eef13-a53a-474d-8639-a0745a663aeb","name":"Clientes Inativos 30d","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,448],"parameters":{"operation":"getAll","tableId":"clientes","returnAll":true,"filterType":"string","filterString":"=reativacao_enviada=eq.false&ultimo_atendimento=lte.{{$now.setZone('America/Sao_Paulo').minus(30,'days').toISO()}}"},"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"f78d6957-8f95-414e-bc3d-f2783ab40316","name":"Tem clientes inativos?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,448],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"and","conditions":[{"id":"1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}}},{"id":"7e26d256-e4be-44da-9c3b-9f19640891c1","name":"Marcar Reativação Enviada","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,448],"parameters":{"operation":"update","tableId":"clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Clientes Inativos 30d').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"reativacao_enviada","fieldValue":"true"},{"fieldId":"reativacao_enviada_em","fieldValue":"={{ $now.toISO() }}"}]}},"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"id":"1a4eaea6-954f-463c-94ec-777067741cfe","name":"Enviar Convite Reativação","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,448],"parameters":{"method":"POST","url":"https://evo.andreverissimo.shop/message/sendText/Agente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"FBB78FFF18C8-4107-BF98-F0A4C438F6E1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Clientes Inativos 30d').item.json.telefone }}"},{"name":"text","value":"=Fala {{ $('Clientes Inativos 30d').item.json.nome }}! 💈\n\nJá faz um tempinho desde seu último corte… bora renovar o visual? ✂️\n\nEssa semana temos horários disponíveis 👊\nÉ só responder aqui que já te encaixo!"}]},"options":{}}},{"id":"3a757266-477a-41a5-ab1a-d634eab450f0","name":"Registrar Followup Reativação","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,448],"parameters":{"tableId":"followups","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Clientes Inativos 30d').item.json.telefone }}"},{"fieldId":"tipo","fieldValue":"reativacao"},{"fieldId":"subtipo","fieldValue":"reativacao_30d"},{"fieldId":"mensagem_lembrete","fieldValue":"={{ 'Reativação 30d: ' + $('Clientes Inativos 30d').item.json.nome }}"},{"fieldId":"enviado","fieldValue":"true"},{"fieldId":"data_envio","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"encerrado","fieldValue":"false"}]}},"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}}],"connections":{"A cada hora 24h":{"main":[[{"node":"Agendamentos - Lembrete 24h","type":"main","index":0}]]},"Agendamentos - Lembrete 24h":{"main":[[{"node":"Tem agendamentos 24h?","type":"main","index":0}]]},"Tem agendamentos 24h?":{"main":[[{"node":"Marcar 24h Enviado","type":"main","index":0}]]},"Marcar 24h Enviado":{"main":[[{"node":"Enviar Lembrete 24h","type":"main","index":0}]]},"Enviar Lembrete 24h":{"main":[[{"node":"Registrar Followup 24h","type":"main","index":0}]]},"A cada hora 2h":{"main":[[{"node":"Agendamentos - Lembrete 2h","type":"main","index":0}]]},"Agendamentos - Lembrete 2h":{"main":[[{"node":"Tem agendamentos 2h?","type":"main","index":0}]]},"Tem agendamentos 2h?":{"main":[[{"node":"Marcar 2h Enviado","type":"main","index":0}]]},"Marcar 2h Enviado":{"main":[[{"node":"Enviar Lembrete 2h","type":"main","index":0}]]},"Enviar Lembrete 2h":{"main":[[{"node":"Registrar Followup 2h","type":"main","index":0}]]},"Reativação":{"main":[[{"node":"Clientes Inativos 30d","type":"main","index":0}]]},"Clientes Inativos 30d":{"main":[[{"node":"Tem clientes inativos?","type":"main","index":0}]]},"Tem clientes inativos?":{"main":[[{"node":"Marcar Reativação Enviada","type":"main","index":0}]]},"Marcar Reativação Enviada":{"main":[[{"node":"Enviar Convite Reativação","type":"main","index":0}]]},"Enviar Convite Reativação":{"main":[[{"node":"Registrar Followup Reativação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate","timeSavedMode":"fixed","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:A cada hora 24h":{"recurrenceRules":[]},"node:A cada hora 2h":{"recurrenceRules":[]},"node:Reativação":{"recurrenceRules":[]}},"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"pinData":{},"versionId":"07e0b74d-e429-47e1-a143-5b5e5ce6d024","activeVersionId":"36713dcd-25f6-483a-b1b1-98cb69dc4afe","versionCounter":338,"triggerCount":3,"shared":[{"updatedAt":"2026-05-06T01:48:30.962Z","createdAt":"2026-05-06T01:48:30.962Z","role":"workflow:owner","workflowId":"ocGuVNYkRL96jrgq","projectId":"OaihLSb9utNQSw5E","project":{"updatedAt":"2026-04-17T16:37:25.464Z","createdAt":"2026-04-17T16:32:10.235Z","id":"OaihLSb9utNQSw5E","name":"André Verissimo <andre.oliverr678@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"89930dd7-4d1d-4c2b-805a-94e66ccb6a46"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-06T19:55:25.000Z","createdAt":"2026-05-06T19:54:45.496Z","versionId":"36713dcd-25f6-483a-b1b1-98cb69dc4afe","workflowId":"ocGuVNYkRL96jrgq","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"e00ed855-96bf-4631-afc9-d6a33a078f30","name":"A cada hora 24h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filterType":"string","filterString":"=status=eq.confirmado&lembrete_24h_enviado=eq.false&data_hora_agendamento=gte.{{$now.setZone('America/Sao_Paulo').plus(23,'hours').toISO()}}&data_hora_agendamento=lte.{{$now.setZone('America/Sao_Paulo').plus(25,'hours').toISO()}}"},"id":"e6832ebb-4c1f-4666-a24e-edc022ed09c3","name":"Agendamentos - Lembrete 24h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,0],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"and","conditions":[{"id":"1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"5deadf11-b885-44e0-acb3-753ec5b008f5","name":"Tem agendamentos 24h?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0]},{"parameters":{"method":"POST","url":"https://evo.andreverissimo.shop/message/sendText/Agente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"FBB78FFF18C8-4107-BF98-F0A4C438F6E1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.telefone }}"},{"name":"text","value":"=Olá {{ $json.nome }}! 💈\n\nSeu horário é amanhã às {{ $json.hora.slice(0,5) }} ✂️\n\nResponda *SIM* para confirmar ou *NÃO* para cancelar.\n\n"}]},"options":{}},"id":"5ad830bc-7667-4504-be0f-29c3bbcfe4a0","name":"Enviar Lembrete 24h","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,0]},{"parameters":{"operation":"update","tableId":"agendamentos","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Agendamentos - Lembrete 24h').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"lembrete_24h_enviado","fieldValue":"true"}]}},"id":"627bf4f2-199b-4838-b20b-45267d2b0429","name":"Marcar 24h Enviado","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,0],"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"tableId":"followups","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Agendamentos - Lembrete 24h').item.json.telefone }}"},{"fieldId":"tipo","fieldValue":"lembrete_agendamento"},{"fieldId":"subtipo","fieldValue":"lembrete_24h"},{"fieldId":"agendamento_id","fieldValue":"={{ $('Agendamentos - Lembrete 24h').item.json.id }}"},{"fieldId":"mensagem_lembrete","fieldValue":"={{ 'Lembrete 24h: ' + $('Agendamentos - Lembrete 24h').item.json.nome + ' - ' + $('Agendamentos - Lembrete 24h').item.json.data }}"},{"fieldId":"enviado","fieldValue":"true"},{"fieldId":"data_envio","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"encerrado","fieldValue":"false"}]}},"id":"8573edba-1050-4d33-9271-61db2b3a72ee","name":"Registrar Followup 24h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,0],"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"f74441f6-e36a-4d4f-b9ec-0ed13c135861","name":"A cada hora 2h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,224]},{"parameters":{"operation":"getAll","tableId":"agendamentos","returnAll":true,"filterType":"string","filterString":"=status=eq.confirmado&lembrete_2h_enviado=eq.false&data_hora_agendamento=gte.{{$now.setZone('America/Sao_Paulo').plus(1,'hours').toISO()}}&data_hora_agendamento=lte.{{$now.setZone('America/Sao_Paulo').plus(3,'hours').toISO()}}"},"id":"719dcab4-7e54-49fe-b5fa-07b2afe1f788","name":"Agendamentos - Lembrete 2h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,224],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"and","conditions":[{"id":"1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"1eb8765b-418b-488c-a8c8-6dea21c589d2","name":"Tem agendamentos 2h?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,224]},{"parameters":{"method":"POST","url":"https://evo.andreverissimo.shop/message/sendText/Agente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"FBB78FFF18C8-4107-BF98-F0A4C438F6E1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.telefone }}"},{"name":"text","value":"=Ei {{ $json.nome }}! 💈\n\nSeu horário é hoje às {{ $json.hora.slice(0,5) }} ✂️\n\nTe esperamos! 👊"}]},"options":{}},"id":"c75f39ab-5e70-45eb-875c-072f4792a230","name":"Enviar Lembrete 2h","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,224]},{"parameters":{"operation":"update","tableId":"agendamentos","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Agendamentos - Lembrete 2h').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"lembrete_2h_enviado","fieldValue":"true"}]}},"id":"35480350-98e4-40f1-b6ed-74c202f621c4","name":"Marcar 2h Enviado","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,224],"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"tableId":"followups","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Agendamentos - Lembrete 2h').item.json.telefone }}"},{"fieldId":"tipo","fieldValue":"lembrete_agendamento"},{"fieldId":"subtipo","fieldValue":"lembrete_2h"},{"fieldId":"agendamento_id","fieldValue":"={{ $('Agendamentos - Lembrete 2h').item.json.id }}"},{"fieldId":"mensagem_lembrete","fieldValue":"={{ 'Lembrete 2h: ' + $('Agendamentos - Lembrete 2h').item.json.nome + ' - ' + $('Agendamentos - Lembrete 2h').item.json.data }}"},{"fieldId":"enviado","fieldValue":"true"},{"fieldId":"data_envio","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"encerrado","fieldValue":"false"}]}},"id":"2ff8aafc-1059-4da1-b1b4-735bd385d83a","name":"Registrar Followup 2h","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,224],"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"a94ce3ce-69ec-4542-ab75-aa34ffa5dbcf","name":"Reativação","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,448]},{"parameters":{"operation":"getAll","tableId":"clientes","returnAll":true,"filterType":"string","filterString":"=reativacao_enviada=eq.false&ultimo_atendimento=lte.{{$now.setZone('America/Sao_Paulo').minus(30,'days').toISO()}}"},"id":"a57eef13-a53a-474d-8639-a0745a663aeb","name":"Clientes Inativos 30d","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"and","conditions":[{"id":"1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"f78d6957-8f95-414e-bc3d-f2783ab40316","name":"Tem clientes inativos?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,448]},{"parameters":{"method":"POST","url":"https://evo.andreverissimo.shop/message/sendText/Agente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"FBB78FFF18C8-4107-BF98-F0A4C438F6E1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.telefone }}"},{"name":"text","value":"=Fala {{ $json.nome }}! 💈\n\nJá faz um tempinho desde seu último corte… bora renovar o visual? ✂️\n\nEssa semana temos horários disponíveis 👊\nÉ só responder aqui que já te encaixo!"}]},"options":{}},"id":"1a4eaea6-954f-463c-94ec-777067741cfe","name":"Enviar Convite Reativação","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,448]},{"parameters":{"operation":"update","tableId":"clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Clientes Inativos 30d').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"reativacao_enviada","fieldValue":"true"},{"fieldId":"reativacao_enviada_em","fieldValue":"={{ $now.toISO() }}"}]}},"id":"7e26d256-e4be-44da-9c3b-9f19640891c1","name":"Marcar Reativação Enviada","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}},{"parameters":{"tableId":"followups","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Clientes Inativos 30d').item.json.telefone }}"},{"fieldId":"tipo","fieldValue":"reativacao"},{"fieldId":"subtipo","fieldValue":"reativacao_30d"},{"fieldId":"mensagem_lembrete","fieldValue":"={{ 'Reativação 30d: ' + $('Clientes Inativos 30d').item.json.nome }}"},{"fieldId":"enviado","fieldValue":"true"},{"fieldId":"data_envio","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"encerrado","fieldValue":"false"}]}},"id":"3a757266-477a-41a5-ab1a-d634eab450f0","name":"Registrar Followup Reativação","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,448],"credentials":{"supabaseApi":{"id":"HoI9l5OTgXnvzb6O","name":"Supabase account"}}}],"connections":{"A cada hora 24h":{"main":[[{"node":"Agendamentos - Lembrete 24h","type":"main","index":0}]]},"Agendamentos - Lembrete 24h":{"main":[[{"node":"Tem agendamentos 24h?","type":"main","index":0}]]},"Tem agendamentos 24h?":{"main":[[{"node":"Marcar 24h Enviado","type":"main","index":0}]]},"Enviar Lembrete 24h":{"main":[[{"node":"Registrar Followup 24h","type":"main","index":0}]]},"Marcar 24h Enviado":{"main":[[{"node":"Enviar Lembrete 24h","type":"main","index":0}]]},"A cada hora 2h":{"main":[[{"node":"Agendamentos - Lembrete 2h","type":"main","index":0}]]},"Agendamentos - Lembrete 2h":{"main":[[{"node":"Tem agendamentos 2h?","type":"main","index":0}]]},"Tem agendamentos 2h?":{"main":[[{"node":"Enviar Lembrete 2h","type":"main","index":0}]]},"Enviar Lembrete 2h":{"main":[[{"node":"Marcar 2h Enviado","type":"main","index":0}]]},"Marcar 2h Enviado":{"main":[[{"node":"Registrar Followup 2h","type":"main","index":0}]]},"Reativação":{"main":[[{"node":"Clientes Inativos 30d","type":"main","index":0}]]},"Clientes Inativos 30d":{"main":[[{"node":"Tem clientes inativos?","type":"main","index":0}]]},"Tem clientes inativos?":{"main":[[{"node":"Enviar Convite Reativação","type":"main","index":0}]]},"Enviar Convite Reativação":{"main":[[{"node":"Marcar Reativação Enviada","type":"main","index":0}]]},"Marcar Reativação Enviada":{"main":[[{"node":"Registrar Followup Reativação","type":"main","index":0}]]}},"authors":"André Verissimo","name":"fallowup","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-06T19:55:25.857Z","id":74,"workflowId":"ocGuVNYkRL96jrgq","versionId":"36713dcd-25f6-483a-b1b1-98cb69dc4afe","event":"activated","userId":"89930dd7-4d1d-4c2b-805a-94e66ccb6a46"}]}}

