workflow_fixed.json
{
  "updatedAt": "2026-05-12T16:13:58.948Z",
  "createdAt": "2026-04-20T22:30:16.228Z",
  "id": "1CUu2mqTMxbYCz9R",
  "name": "Barbearia",
  "description": "Sistema central da barbearia responsável por clientes, agendamentos, CRM, pagamentos e automações.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barbearia",
        "options": {}
      },
      "id": "5fda41ee-8e99-41aa-80b7-3b855f7dcf6a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        10896,
        11584
      ],
      "webhookId": "2da53811-e6f8-4cf8-894d-675ee7458665"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82d04ca1",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "58110d47",
              "name": "Nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "14a713c2",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "0429aaf0",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "40937027",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "0a2f1306",
              "name": "date_time",
              "value": "={{ new Date($json.body.date_time).toLocaleString('sv-SE').slice(0, 16) }}",
              "type": "string"
            },
            {
              "id": "ddf2d9e5",
              "name": "server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "dc401d1a",
              "name": "apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "8da197f8",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "ed68781e",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "c79489c9",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "fc061327",
              "name": "Timestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "04d0a936-2649-4831-a5bd-942aec82e16b",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11104,
        11584
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "id": "5b9c6c3c-6bad-41b1-a4dd-b0943e981635",
      "name": "Analiz Client",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11344,
        11584
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f9d5f04c",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5bd458f3-2723-4db7-8f03-97a8dc1cf37d",
      "name": "Client ou não",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        11520,
        11584
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "followups",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.telefone }}"
            }
          ]
        }
      },
      "id": "8e0e07a2-cd20-4b3e-a7bb-3820d0a4e8b6",
      "name": "Apaga",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11744,
        11488
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "followups",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "criado_em",
              "fieldValue": "={{ $('Dados').item.json.date_time }}"
            },
            {
              "fieldId": "mensagem_lembrete",
              "fieldValue": "={{ $('Dados').item.json.message }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Dados').item.json.telefone }}"
            }
          ]
        }
      },
      "id": "a3a74f2d-4835-446a-9e7c-fb1247a5b4bf",
      "name": "Registrar Ultima Interacao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11968,
        11488
      ],
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "945455cf",
              "leftValue": "={{ $('Dados').item.json.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a4bdf85-e7ef-42ba-a19a-08e456e3e4dc",
      "name": "Regra",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        13456,
        11488
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.telefone }} block",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "id": "b8a68cbd-532b-4376-81f0-e7b0598a3fc3",
      "name": "Criar chave",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        13760,
        11408
      ],
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $json.mensagem }}"
            }
          ]
        }
      },
      "id": "cf85d513-bcb7-473f-a46a-8d911693386b",
      "name": "Chat Memory Manager",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        15408,
        11408
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.instance }} {{ $json.telefone }} block",
        "options": {}
      },
      "id": "8a9bf1b7-7e6e-439d-a940-eb9864e1de1f",
      "name": "Buscar chave",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        13760,
        11568
      ],
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c8e4967",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "98686a98-69c6-4d35-9575-3829acedb721",
      "name": "isblocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        13968,
        11568
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Dados').item.json.message }}"
            }
          ]
        }
      },
      "id": "b1a292b9-8c13-4301-a129-45071afca8fd",
      "name": "inserir mensage",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        15408,
        11552
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53cee69f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca5845ee",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "ephemeralMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "43c94502",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "extendedtextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca3952ba",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55abc38f",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57fddf91",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "stickerMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e6717a80",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "763b4458",
                    "leftValue": "={{ $('Dados').item.json.messageType }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            }
          ]
        },
        "options": {}
      },
      "id": "742bde3a-396d-4a66-869e-38c6e38f75f6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        12224,
        12048
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40a6777",
              "name": "telefone",
              "value": "={{ $('Dados').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "acfa2be0",
              "name": "message",
              "value": "={{ $('Dados').item.json.message }}",
              "type": "string"
            },
            {
              "id": "e64df96d",
              "name": "id",
              "value": "={{ $('Dados').item.json.id }}",
              "type": "string"
            },
            {
              "id": "317990e3",
              "name": "Timestamp",
              "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f4d2e41-efee-4845-a8fe-4904c0d96916",
      "name": "Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12848,
        11904
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "4b4a3822-559e-41e0-abbb-502cdaf739ae",
      "name": "Geral",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13424,
        12112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a23f8",
              "name": "base64",
              "value": "={{ $('Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "078feb85-dc3e-412d-8c62-cef326d94637",
      "name": "Audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12544,
        12128
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "09aaad53-80c9-4b12-80a2-a8e498ddf800",
      "name": "Convert",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        12736,
        12128
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "12d61b9c-e837-4f30-a6c6-e7236ff7a665",
      "name": "Transcribe a recording",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        12944,
        12128
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PD7RfZM6eEdOrb32",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f70ab",
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "464d9",
              "name": "id",
              "value": "={{ $('Dados').item.json.id }}",
              "type": "string"
            },
            {
              "id": "225af",
              "name": "date_time",
              "value": "={{ $('Dados').item.json.date_time }}",
              "type": "string"
            },
            {
              "id": "ts-gen-Audio1",
              "name": "Timestamp",
              "value": "={{ $('Dados').item.json.Timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "212a3b73-bbd6-4536-b188-ad13af407b09",
      "name": "Audio1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13152,
        12128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a5d0",
              "name": "base64",
              "value": "={{ $('Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ceed1e2b-fb7c-4472-8a90-22df4daf3c9a",
      "name": "Image",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12544,
        12272
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "3c048049-244e-401c-b056-8f37e86b87f8",
      "name": "Convert1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        12736,
        12272
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Descreva todo o conteudo da imagem. Responda sem acento, sem hifens",
        "inputType": "binary",
        "options": {}
      },
      "id": "5569e8cf-5960-4be6-93d5-c258e10c0f8f",
      "name": "Analyze an image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        12944,
        12272
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PD7RfZM6eEdOrb32",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2442e",
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "a000b1",
              "name": "id",
              "value": "={{ $('Dados').item.json.id }}",
              "type": "string"
            },
            {
              "id": "a000b2",
              "name": "date_time",
              "value": "={{ $('Dados').item.json.date_time }}",
              "type": "string"
            },
            {
              "id": "ts-gen-image",
              "name": "Timestamp",
              "value": "={{ $('Dados').item.json.Timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c16da729-3ced-4893-a929-7692637059a5",
      "name": "image",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13152,
        12272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70d04",
              "name": "base64",
              "value": "={{ $('Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "93580292-952a-4419-a96c-196d38808d41",
      "name": "Video",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12544,
        12416
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "4cf9279a-6b60-4a15-bbf5-843ccef4aae7",
      "name": "Convert2",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        12736,
        12416
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Descreva todo o conteudo do video. Responda sem acento, sem hifens",
        "inputType": "binary",
        "options": {}
      },
      "id": "e5a27e08-3bf1-4117-91e0-7716c20f0882",
      "name": "Analyze video",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        12944,
        12416
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PD7RfZM6eEdOrb32",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a000b3",
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "a000b4",
              "name": "id",
              "value": "={{ $('Dados').item.json.id }}",
              "type": "string"
            },
            {
              "id": "a000b5",
              "name": "date_time",
              "value": "={{ $('Dados').item.json.date_time }}",
              "type": "string"
            },
            {
              "id": "ts-gen-Video1",
              "name": "Timestamp",
              "value": "={{ $('Dados').item.json.Timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "846932e4-ed9f-4311-ac9a-0a32cafe81d4",
      "name": "Video1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13152,
        12416
      ]
    },
    {
      "parameters": {
        "tableId": "clientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Dados').item.json.telefone }}"
            },
            {
              "fieldId": "criado_em",
              "fieldValue": "={{ $('Dados').item.json.date_time }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Dados').item.json.Nome }}"
            }
          ]
        }
      },
      "id": "8068c0d7-cfde-4a50-b0c3-175a022869e9",
      "name": "Criar",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11744,
        11680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "f70782b2-d89f-424e-abb6-6d1c42be7228",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        11968,
        11760
      ],
      "webhookId": "7d9c2488-835d-4ed7-8b32-358d930e4f49"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.telefone }}",
        "messageData": "={{ $json.toJsonString() }}",
        "tail": true
      },
      "id": "c3579630-5a04-476b-802d-109e59716a69",
      "name": "Enviar",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        13872,
        12144
      ],
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Dados').item.json.telefone }}",
        "options": {}
      },
      "id": "2c5e1494-1f9e-4d61-bd80-d0e59f867b52",
      "name": "Buscar",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        14048,
        12144
      ],
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message[$json.message.length - 1]).id }}",
                    "rightValue": "={{ $('Dados').item.json.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "kill-old-execution"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "check-silence",
                    "leftValue": "={{ new Date(JSON.parse($json.message[$json.message.length - 1]).Timestamp) }}",
                    "rightValue": "={{ $now.minus(10, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prosseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Espera"
        }
      },
      "id": "5093772a-0933-4bef-96e7-3974e7cc60b4",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        14272,
        12064
      ]
    },
    {
      "parameters": {},
      "id": "d917da8d-3a02-4ce4-9780-df46ba58a3f9",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        14496,
        11888
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.telefone }}"
      },
      "id": "a10ea3b6-71b4-411d-80ea-0b8eb701ac9d",
      "name": "Delete",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        14496,
        12080
      ],
      "credentials": {
        "redis": {
          "id": "mXcfCUa9m34XLSEx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bdf1",
              "name": "message",
              "value": "={{ $('Switch1').item.json.message.map(valor => JSON.parse(valor).message).join('\\n') }}",
              "type": "string"
            },
            {
              "id": "ad10c",
              "name": "telefone",
              "value": "={{ $('Dados').item.json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "21df538f-6cca-4e66-93c1-df758b2d9fa5",
      "name": "listaMensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14720,
        12080
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=conversas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Dados').item.json.telefone }}",
            "mensagem": "={{ $json.message }}",
            "tipo": "cliente",
            "criado_em": "={{ $('Dados').item.json.date_time }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "75b0ebb7-e262-46e4-89a7-b53cb4a46553",
      "name": "Salvar mensagem do cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        15120,
        12080
      ],
      "credentials": {
        "postgres": {
          "id": "GXA97TFFsDH1xkDn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ String($('listaMensagens').item.json.message || '').replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\n\n🔹 confirmar_agendamento: USE esta ferramenta para confirmar um agendamento pendente quando o cliente disser SIM.",
        "options": {
          "systemMessage": "Hoje é {{ $now.setZone('America/Sao_Paulo').format('EEEE, dd/MM/yyyy') }}, {{ $now.setZone('America/Sao_Paulo').format('HH:mm') }}\n\n━━━━━━━━━━━━━━━━━\n📋 CLIENTE\n━━━━━━━━━━━━━━━━━\nNome: {{ $('Analiz Client').first().json.nome || 'não informado' }}\nTelefone: {{ $('Dados').first().json.telefone }}\nStatus: {{ $('Analiz Client').first().json.status || 'lead' }}\n\n━━━━━━━━━━━━━━━━━\n🎭 IDENTIDADE\n━━━━━━━━━━━━━━━━━\nVocê é André, atendente virtual da Barbearia Alfa.\nSeu atendimento é simpático, rápido, natural e direto.\nFale como barbeiro real no WhatsApp (ex: \"fala irmão 👊\", \"fechou\", \"tamo junto\").\nMáximo 2 linhas por mensagem.\n\n━━━━━━━━━━━━━━━━━\n🛠️ FERRAMENTAS\n━━━━━━━━━━━━━━━━━\n🔹 servicos: Listar serviços e preços.\n\n🔹 Agendar: USAR APENAS para NOVOS agendamentos do zero.\n   - Status inicial: \"pendente\".\n\n🔹 confirmar_agendamento: USAR QUANDO o cliente disser \"SIM\", \"PODE MARCAR\", \"CONFIRMO\" ou algo positivo para um horário já sugerido ou lembrete.\n   - Esta ferramenta muda o status de 'pendente' para 'confirmado'.\n\n━━━━━━━━━━━━━━━━━\n🚨 LÓGICA DE CONFIRMAÇÃO\n━━━━━━━━━━━━━━━━━\n- Se o cliente disse \"sim\" para um horário que você propôs:\n  1. Chame 'confirmar_agendamento'.\n  2. NÃO chame 'Agendar' (isso criaria um duplicado).\n- Só use 'Agendar' se for uma reserva nova ou se os dados mudarem.\n\n━━━━━━━━━━━━━━━━━\n🚫 REGRAS ABSOLUTAS\n━━━━━━━━━━━━━━━━━\n- NUNCA crie agendamentos duplicados.\n- Se o cliente confirmar, apenas atualize o status."
        }
      },
      "id": "4b043592-0b45-412d-b327-781b00da727e",
      "name": "André, Atendente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        15664,
        12080
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e12b3dc3-783a-4482-a90b-6610ff4e5c55",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        15280,
        12304
      ],
      "credentials": {
        "openAiApi": {
          "id": "FUFioTMmxlgqj3IR",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.telefone }}",
        "tableName": "mensagens",
        "contextWindowLength": 20
      },
      "id": "7c150269-364c-4668-95fd-58aa2a4ed500",
      "name": "Memoria",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        15408,
        12304
      ],
      "credentials": {
        "postgres": {
          "id": "GXA97TFFsDH1xkDn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "agendamentos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', '') }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', '') }}"
            },
            {
              "fieldId": "servico",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', '') }}"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', '') }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', '') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', '') }}"
            }
          ]
        },
        "toolDescription": "Cria um NOVO agendamento. Use APENAS se não houver um agendamento pendente sendo confirmado."
      },
      "id": "ab7522ff-0c7b-4f68-a735-ae189c008a57",
      "name": "Agendar",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        15536,
        12304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', '') }}"
            }
          ]
        }
      },
      "id": "720d704a-20a8-4949-aba1-b13537f10793",
      "name": "Atualiza",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        15664,
        12304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "servicos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', '') }}"
            },
            {
              "fieldId": "preco",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', '') }}"
            },
            {
              "fieldId": "duracao",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', '') }}"
            }
          ]
        }
      },
      "id": "af800a5e-9266-4ad0-ae55-da7819e4f7d7",
      "name": "criar_servico",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        15792,
        12304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1a2P1Q6U_3fMVi9_ihSmQirKkVfWoXwYYgdhD-16-UsM/edit?tab=t.0#heading=h.qrq85dj5rljt",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "id": "f44f9a38-b408-4974-a721-ce9ec381b7bf",
      "name": "servicos",
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        15920,
        12304
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "yWNpi00EICZb5iFz",
          "name": "Google Docs account"
        }
      },
      "notes": "Ferramenta responsável por consultar serviços, valores e horários disponíveis da barbearia.\nUse esta tool para informar preços, duração dos serviços, disponibilidade da agenda, horários de funcionamento e detalhes sobre atendimentos.\nIdeal para automatizar respostas rápidas aos clientes e facilitar agendamentos no sistema."
    },
    {
      "parameters": {
        "description": "Atue como um especialista senior em automacoes com n8n, CRM para barbearias e integracoes com WhatsApp."
      },
      "id": "c0c3ea64-6ee8-46d8-9403-25c9d4827951",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        16176,
        12304
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=conversas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $json.output }}",
            "telefone": "={{ $('Dados').item.json.telefone }}",
            "tipo": "ia",
            "criado_em": "={{ $('Dados').item.json.date_time }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5d56a66a-bb16-4a04-93a2-cc65f48b5747",
      "name": "Salvar resposta da ia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16368,
        12080
      ],
      "credentials": {
        "postgres": {
          "id": "GXA97TFFsDH1xkDn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e66",
              "name": "text",
              "value": "={{ String($('André, Atendente').item.json.output || '').trim().split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "30f3552b-1277-4da3-8cc3-a321b16458dd",
      "name": "Organização",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16576,
        12080
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "id": "e39bb632-358e-41dc-80b0-a898025aed77",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        16784,
        12080
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Agente",
        "remoteJid": "={{ $('Dados').item.json.telefone }}",
        "messageText": "={{ $json.text }}",
        "options_message": {}
      },
      "id": "4a1562fa-3d8b-41ca-9435-03c81d8fc318",
      "name": "Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        16960,
        12080
      ],
      "credentials": {
        "evolutionApi": {
          "id": "Y5qPtPNRsSXjJmRW",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8a26ec2f-3c42-43b6-9f49-359cd29917a7",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        14496,
        12272
      ],
      "webhookId": "b1e14f33-7d9c-4a4d-80a2-de2debdb4d8e"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "a7477a01b2798861b30cf0f068dfd4890e8f0dca887097c339434bf14146c55c@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Agenda Barbearia "
        },
        "options": {}
      },
      "id": "c9a56b47-e1ad-49b2-af9e-cf382af5ea11",
      "name": "Calendario",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        16048,
        12304
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gf6aljMxzBI5oFfJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.telefone }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pendente"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "confirmado"
            }
          ]
        },
        "toolDescription": "Use para confirmar (status=confirmado) um agendamento pendente quando o cliente disser SIM."
      },
      "id": "confirm-tool-unique-id",
      "name": "confirmar_agendamento",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        11500,
        8100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "HoI9l5OTgXnvzb6O",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Analiz Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiz Client": {
      "main": [
        [
          {
            "node": "Client ou não",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client ou não": {
      "main": [
        [
          {
            "node": "Apaga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apaga": {
      "main": [
        [
          {
            "node": "Atualizar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Cliente": {
      "main": [
        [
          {
            "node": "Regra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regra": {
      "main": [
        [
          {
            "node": "Criar chave",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar chave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar chave": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar chave": {
      "main": [
        [
          {
            "node": "isblocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isblocked?": {
      "main": [
        [
          {
            "node": "inserir mensage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geral": {
      "main": [
        [
          {
            "node": "Enviar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio1": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Convert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Video": {
      "main": [
        [
          {
            "node": "Convert2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert2": {
      "main": [
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video1": {
      "main": [
        [
          {
            "node": "Geral",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Criar": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Analiz Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "main": [
        [
          {
            "node": "listaMensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listaMensagens": {
      "main": [
        [
          {
            "node": "Salvar mensagem do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar mensagem do cliente": {
      "main": [
        [
          {
            "node": "André, Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "André, Atendente": {
      "main": [
        [
          {
            "node": "Salvar resposta da ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "inserir mensage",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "criar_servico": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "servicos": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar resposta da ia": {
      "main": [
        [
          {
            "node": "Organização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendario": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "confirmar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "André, Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f7dd5d3-7582-4ec9-804c-6acd3b4c9bb9",
  "activeVersionId": "2f7dd5d3-7582-4ec9-804c-6acd3b4c9bb9",
  "versionCounter": 3564,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-20T22:30:16.230Z",
      "createdAt": "2026-04-20T22:30:16.230Z",
      "role": "workflow:owner",
      "workflowId": "1CUu2mqTMxbYCz9R",
      "projectId": "OaihLSb9utNQSw5E",
      "project": {
        "updatedAt": "2026-04-17T16:37:25.464Z",
        "createdAt": "2026-04-17T16:32:10.235Z",
        "id": "OaihLSb9utNQSw5E",
        "name": "André Verissimo <andre.oliverr678@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "89930dd7-4d1d-4c2b-805a-94e66ccb6a46"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-23T17:59:38.404Z",
      "createdAt": "2026-04-17T16:56:53.802Z",
      "id": "qW6vhXDVTFs6Vc1Z",
      "name": "Agente"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-12T16:16:04.000Z",
    "createdAt": "2026-05-12T16:13:58.952Z",
    "versionId": "2f7dd5d3-7582-4ec9-804c-6acd3b4c9bb9",
    "workflowId": "1CUu2mqTMxbYCz9R",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "barbearia",
          "options": {}
        },
        "id": "5fda41ee-8e99-41aa-80b7-3b855f7dcf6a",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          10896,
          11584
        ],
        "webhookId": "2da53811-e6f8-4cf8-894d-675ee7458665"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "82d04ca1",
                "name": "instance",
                "value": "={{ $json.body.instance }}",
                "type": "string"
              },
              {
                "id": "58110d47",
                "name": "Nome",
                "value": "={{ $json.body.data.pushName }}",
                "type": "string"
              },
              {
                "id": "14a713c2",
                "name": "telefone",
                "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
                "type": "string"
              },
              {
                "id": "0429aaf0",
                "name": "message",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              },
              {
                "id": "40937027",
                "name": "messageType",
                "value": "={{ $json.body.data.messageType }}",
                "type": "string"
              },
              {
                "id": "0a2f1306",
                "name": "date_time",
                "value": "={{ new Date($json.body.date_time).toLocaleString('sv-SE').slice(0, 16) }}",
                "type": "string"
              },
              {
                "id": "ddf2d9e5",
                "name": "server_url",
                "value": "={{ $json.body.server_url }}",
                "type": "string"
              },
              {
                "id": "dc401d1a",
                "name": "apikey",
                "value": "={{ $json.body.apikey }}",
                "type": "string"
              },
              {
                "id": "8da197f8",
                "name": "fromMe",
                "value": "={{ $json.body.data.key.fromMe }}",
                "type": "boolean"
              },
              {
                "id": "ed68781e",
                "name": "id",
                "value": "={{ $json.body.data.key.id }}",
                "type": "string"
              },
              {
                "id": "c79489c9",
                "name": "base64",
                "value": "={{ $json.body.data.message.base64 }}",
                "type": "string"
              },
              {
                "id": "fc061327",
                "name": "Timestamp",
                "value": "={{ $json.body.data.messageTimestamp }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "04d0a936-2649-4831-a5bd-942aec82e16b",
        "name": "Dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          11104,
          11584
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "clientes",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $json.telefone }}"
              }
            ]
          }
        },
        "id": "5b9c6c3c-6bad-41b1-a4dd-b0943e981635",
        "name": "Analiz Client",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          11344,
          11584
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "HoI9l5OTgXnvzb6O",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f9d5f04c",
                "leftValue": "={{ $json.telefone }}",
                "rightValue": 0,
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5bd458f3-2723-4db7-8f03-97a8dc1cf37d",
        "name": "Client ou não",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          11520,
          11584
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "followups",
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $('Dados').item.json.telefone }}"
              }
            ]
          }
        },
        "id": "8e0e07a2-cd20-4b3e-a7bb-3820d0a4e8b6",
        "name": "Apaga",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          11744,
          11488
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "HoI9l5OTgXnvzb6O",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "followups",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "criado_em",
                "fieldValue": "={{ $('Dados').item.json.date_time }}"
              },
              {
                "fieldId": "mensagem_lembrete",
                "fieldValue": "={{ $('Dados').item.json.message }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $('Dados').item.json.telefone }}"
              }
            ]
          }
        },
        "id": "a3a74f2d-4835-446a-9e7c-fb1247a5b4bf",
        "name": "Registrar Ultima Interacao",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          11968,
          11488
        ],
        "credentials": {
          "supabaseApi": {
            "id": "HoI9l5OTgXnvzb6O",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "945455cf",
                "leftValue": "={{ $('Dados').item.json.fromMe }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3a4bdf85-e7ef-42ba-a19a-08e456e3e4dc",
        "name": "Regra",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          13456,
          11488
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.telefone }} block",
          "value": "1",
          "expire": true,
          "ttl": 3600
        },
        "id": "b8a68cbd-532b-4376-81f0-e7b0598a3fc3",
        "name": "Criar chave",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          13760,
          11408
        ],
        "credentials": {
          "redis": {
            "id": "mXcfCUa9m34XLSEx",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "messages": {
            "messageValues": [
              {
                "type": "ai",
                "message": "={{ $json.mensagem }}"
              }
            ]
          }
        },
        "id": "cf85d513-bcb7-473f-a46a-8d911693386b",
        "name": "Chat Memory Manager",
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          15408,
          11408
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "isBlocked",
          "key": "={{ $('Dados').item.json.instance }} {{ $json.telefone }} block",
          "options": {}
        },
        "id": "8a9bf1b7-7e6e-439d-a940-eb9864e1de1f",
        "name": "Buscar chave",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          13760,
          11568
        ],
        "credentials": {
          "redis": {
            "id": "mXcfCUa9m34XLSEx",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "2c8e4967",
                "leftValue": "={{ $json.isBlocked }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "98686a98-69c6-4d35-9575-3829acedb721",
        "name": "isblocked?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          13968,
          11568
        ]
      },
      {
        "parameters": {
          "mode": "insert",
          "messages": {
            "messageValues": [
              {
                "type": "user",
                "message": "={{ $('Dados').item.json.message }}"
              }
            ]
          }
        },
        "id": "b1a292b9-8c13-4301-a129-45071afca8fd",
        "name": "inserir mensage",
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          15408,
          11552
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "53cee69f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ca5845ee",
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "ephemeralMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "43c94502",
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "extendedtextMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ca3952ba",
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "55abc38f",
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "imageMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "57fddf91",
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "stickerMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "sticker"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "e6717a80",
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "videoMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "video"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "763b4458",
                      "leftValue": "={{ $('Dados').item.json.messageType }}",
                      "rightValue": "url",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "doc"
              }
            ]
          },
          "options": {}
        },
        "id": "742bde3a-396d-4a66-869e-38c6e38f75f6",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          12224,
          12048
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c40a6777",
                "name": "telefone",
                "value": "={{ $('Dados').item.json.telefone }}",
                "type": "string"
              },
              {
                "id": "acfa2be0",
                "name": "message",
                "value": "={{ $('Dados').item.json.message }}",
                "type": "string"
              },
              {
                "id": "e64df96d",
                "name": "id",
                "value": "={{ $('Dados').item.json.id }}",
                "type": "string"
              },
              {
                "id": "317990e3",
                "name": "Timestemp",
                "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4f4d2e41-efee-4845-a8fe-4904c0d96916",
        "name": "Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          12848,
          11904
        ]
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "id": "4b4a3822-559e-41e0-abbb-502cdaf739ae",
        "name": "Geral",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          13424,
          12112
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a23f8",
                "name": "base64",
                "value": "={{ $('Dados').item.json.base64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "078feb85-dc3e-412d-8c62-cef326d94637",
        "name": "Audio",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          12544,
          12128
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "base64",
          "options": {}
        },
        "id": "09aaad53-80c9-4b12-80a2-a8e498ddf800",
        "name": "Convert",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          12736,
          12128
        ]
      },
      {
        "parameters": {
          "resource": "audio",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "inputType": "binary",
          "options": {}
        },
        "id": "12d61b9c-e837-4f30-a6c6-e7236ff7a665",
        "name": "Transcribe a recording",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          12944,
          12128
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "PD7RfZM6eEdOrb32",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f70ab",
                "name": "message",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              },
              {
                "id": "464d9",
                "name": "id",
                "value": "={{ $('Dados').item.json.id }}",
                "type": "string"
              },
              {
                "id": "225af",
                "name": "date_time",
                "value": "={{ $('Dados').item.json.date_time }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "212a3b73-bbd6-4536-b188-ad13af407b09",
        "name": "Audio1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          13152,
          12128
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1a5d0",
                "name": "base64",
                "value": "={{ $('Dados').item.json.base64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ceed1e2b-fb7c-4472-8a90-22df4daf3c9a",
        "name": "Image",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          12544,
          12272
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "base64",
          "options": {}
        },
        "id": "3c048049-244e-401c-b056-8f37e86b87f8",
        "name": "Convert1",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          12736,
          12272
        ]
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "Descreva todo o conteudo da imagem. Responda sem acento, sem hifens",
          "inputType": "binary",
          "options": {}
        },
        "id": "5569e8cf-5960-4be6-93d5-c258e10c0f8f",
        "name": "Analyze an image",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          12944,
          12272
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "PD7RfZM6eEdOrb32",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2442e",
                "name": "message",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              },
              {
                "id": "a000b1",
                "name": "id",
                "value": "={{ $('Dados').item.json.id }}",
                "type": "string"
              },
              {
                "id": "a000b2",
                "name": "date_time",
                "value": "={{ $('Dados').item.json.date_time }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "c16da729-3ced-4893-a929-7692637059a5",
        "name": "image",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          13152,
          12272
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "70d04",
                "name": "base64",
                "value": "={{ $('Dados').item.json.base64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "93580292-952a-4419-a96c-196d38808d41",
        "name": "Video",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          12544,
          12416
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "base64",
          "options": {}
        },
        "id": "4cf9279a-6b60-4a15-bbf5-843ccef4aae7",
        "name": "Convert2",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          12736,
          12416
        ]
      },
      {
        "parameters": {
          "resource": "video",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "Descreva todo o conteudo do video. Responda sem acento, sem hifens",
          "inputType": "binary",
          "options": {}
        },
        "id": "e5a27e08-3bf1-4117-91e0-7716c20f0882",
        "name": "Analyze video",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          12944,
          12416
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "PD7RfZM6eEdOrb32",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a000b3",
                "name": "message",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              },
              {
                "id": "a000b4",
                "name": "id",
                "value": "={{ $('Dados').item.json.id }}",
                "type": "string"
              },
              {
                "id": "a000b5",
                "name": "date_time",
                "value": "={{ $('Dados').item.json.date_time }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "846932e4-ed9f-4311-ac9a-0a32cafe81d4",
        "name": "Video1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          13152,
          12416
        ]
      },
      {
        "parameters": {
          "tableId": "clientes",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $('Dados').item.json.telefone }}"
              },
              {
                "fieldId": "criado_em",
                "fieldValue": "={{ $('Dados').item.json.date_time }}"
              },
              {
                "fieldId": "nome",
                "fieldValue": "={{ $('Dados').item.json.Nome }}"
              }
            ]
          }
        },
        "id": "8068c0d7-cfde-4a50-b0c3-175a022869e9",
        "name": "Criar",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          11744,
          11680
        ],
        "credentials": {
          "supabaseApi": {
            "id": "HoI9l5OTgXnvzb6O",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "id": "f70782b2-d89f-424e-abb6-6d1c42be7228",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          11968,
          11760
        ],
        "webhookId": "7d9c2488-835d-4ed7-8b32-358d930e4f49"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $('Dados').item.json.telefone }}",
          "messageData": "={{ $json.toJsonString() }}",
          "tail": true
        },
        "id": "c3579630-5a04-476b-802d-109e59716a69",
        "name": "Enviar",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          13872,
          12144
        ],
        "credentials": {
          "redis": {
            "id": "mXcfCUa9m34XLSEx",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "message",
          "key": "={{ $('Dados').item.json.telefone }}",
          "options": {}
        },
        "id": "2c5e1494-1f9e-4d61-bd80-d0e59f867b52",
        "name": "Buscar",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          14048,
          12144
        ],
        "credentials": {
          "redis": {
            "id": "mXcfCUa9m34XLSEx",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ JSON.parse($json.message[$json.message.length - 1]).id }}",
                      "rightValue": "={{ $('Dados').item.json.id }}",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "51d914"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Nada a fazer"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1846612",
                      "leftValue": "={{ JSON.parse($json.message[$json.message.length - 1]).Timestemp }}",
                      "rightValue": "={{ $now.minus(15,'seconds') }}",
                      "operator": {
                        "type": "dateTime",
                        "operation": "before"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Prosseguir"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Espera"
          }
        },
        "id": "5093772a-0933-4bef-96e7-3974e7cc60b4",
        "name": "Switch1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          14272,
          12064
        ]
      },
      {
        "parameters": {},
        "id": "d917da8d-3a02-4ce4-9780-df46ba58a3f9",
        "name": "No Operation, do nothing2",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          14496,
          11888
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('Dados').item.json.telefone }}"
        },
        "id": "a10ea3b6-71b4-411d-80ea-0b8eb701ac9d",
        "name": "Delete",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          14496,
          12080
        ],
        "credentials": {
          "redis": {
            "id": "mXcfCUa9m34XLSEx",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4bdf1",
                "name": "message",
                "value": "={{ $('Switch1').item.json.message.map(valor => JSON.parse(valor).message).join('\\n') }}",
                "type": "string"
              },
              {
                "id": "ad10c",
                "name": "telefone",
                "value": "={{ $('Dados').item.json.telefone }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "21df538f-6cca-4e66-93c1-df758b2d9fa5",
        "name": "listaMensagens",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          14720,
          12080
        ]
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "=public",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "=conversas",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $('Dados').item.json.telefone }}",
              "mensagem": "={{ $json.message }}",
              "tipo": "cliente",
              "criado_em": "={{ $('Dados').item.json.date_time }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "mensagem",
                "displayName": "mensagem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "criado_em",
                "displayName": "criado_em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "tipo",
                "displayName": "tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "75b0ebb7-e262-46e4-89a7-b53cb4a46553",
        "name": "Salvar mensagem do cliente",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          15120,
          12080
        ],
        "credentials": {
          "postgres": {
            "id": "GXA97TFFsDH1xkDn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ String($('listaMensagens').item.json.message || '').replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}",
          "options": {
            "systemMessage": "=Hoje é {{ $now.setZone('America/Sao_Paulo').format('EEEE, dd/MM/yyyy') }}, {{ $now.setZone('America/Sao_Paulo').format('HH:mm') }}\n\n━━━━━━━━━━━━━━━━━\n📋 CLIENTE\n━━━━━━━━━━━━━━━━━\n\nNome: {{ $('Analiz Client').first().json.nome || 'não informado' }}\n\nTelefone: {{ $('Dados').first().json.telefone }}\n\nStatus: {{ $('Analiz Client').first().json.status || 'lead' }}\n\n━━━━━━━━━━━━━━━━━\n🎭 IDENTIDADE\n━━━━━━━━━━━━━━━━━\n\nVocê é André, atendente virtual da Barbearia Alfa.\n\nSeu atendimento é:\n\n* simpático\n* rápido\n* natural\n* direto\n\nFale como barbeiro real no WhatsApp.\n\nExemplos:\n\n* \"fala irmão 👊\"\n* \"bora marcar\"\n* \"fechou\"\n* \"tranquilo\"\n\nMáximo:\n2 linhas por mensagem.\n\n━━━━━━━━━━━━━━━━━\n🛠️ FERRAMENTAS\n━━━━━━━━━━━━━━━━━\n\n🔹 servicos\n→ USAR OBRIGATORIAMENTE:\n\n* ao iniciar conversa\n* quando cliente pedir serviços\n* quando cliente perguntar preço\n* antes de oferecer agendamento\n\n━━━━━━━━━━━━━━━━━\n\n🔹 criar_servico\n→ USAR IMEDIATAMENTE quando cliente escolher um serviço.\n\nCampos obrigatórios:\n\n* nome (texto)\n* preco (numero)\n* duracao_em_minutos (numero)\n\nOs dados devem vir da ferramenta servicos.\n\n━━━━━━━━━━━━━━━━━\n\n🔹 Atualiza\n→ USAR quando cliente informar nome pela primeira vez.\n\nCampo:\n\n* nome\n\n━━━━━━━━━━━━━━━━━\n\n🔹 Agendar\n→ USAR SOMENTE quando possuir:\n\n* nome\n* serviço\n* data\n* hora\n\nCampos:\n\n* nome\n* telefone\n* servico\n* data (YYYY-MM-DD)\n* hora (HH:MM)\n* status = \"confirmado\"\n\n━━━━━━━━━━━━━━━━━\n\n🔹 Agendamentos\n→ USAR quando cliente:\n\n* quiser ver horários\n* consultar agendamento\n* remarcar\n* cancelar\n\n━━━━━━━━━━━━━━━━━\n🚨 FLUXO OBRIGATÓRIO\n━━━━━━━━━━━━━━━━━\n\n1.\n\nAo iniciar conversa:\n\n* apresente-se\n* chame ferramenta servicos\n* mostre APENAS:\n\n  * nome do serviço\n  * valor\n\nFormato obrigatório:\n\n\"Corte - R$30\nBarba - R$25\nCorte + Barba - R$50\"\n\nPROIBIDO mostrar:\n\n* duração\n* minutos\n* tempo\n\nMesmo que a ferramenta retorne essas informações.\n\nTempo/duração só podem ser mostrados se o cliente perguntar explicitamente:\n\n* \"quanto tempo demora?\"\n* \"qual duração?\"\n\n━━━━━━━━━━━━━━━━━\n\n2.\n\nQuando cliente escolher serviço:\n\n* chamar criar_servico IMEDIATAMENTE\n* confirmar escolha\n\n━━━━━━━━━━━━━━━━━\n\n3.\n\nDepois:\ncoletar:\n\n* data\n* horário\n\n━━━━━━━━━━━━━━━━━\n\n4.\n\nQuando tiver tudo:\n\n* chamar Agendar\n\n━━━━━━━━━━━━━━━━━\n\n5.\n\nApós agendar:\n\n* confirmar agendamento claramente\n\n━━━━━━━━━━━━━━━━━\n🚫 REGRAS ABSOLUTAS\n━━━━━━━━━━━━━━━━━\n\n* NUNCA inventar:\n\n  * serviços\n  * preços\n  * duração\n  * horários\n\n* SEMPRE usar os dados reais das ferramentas\n\n* NUNCA mostrar duração automaticamente\n\n* NUNCA responder serviço manualmente sem consultar servicos\n\n* NUNCA chamar Agendar sem os 4 dados completos\n\n* NÃO repetir perguntas já respondidas\n\n* Os nomes das ferramentas são case-sensitive\n\n* Prioridade máxima:\n  consultar ferramentas antes de responder\n"
          }
        },
        "id": "4b043592-0b45-412d-b327-781b00da727e",
        "name": "André, Atendente",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          15664,
          12080
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "e12b3dc3-783a-4482-a90b-6610ff4e5c55",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          15280,
          12304
        ],
        "credentials": {
          "openAiApi": {
            "id": "FUFioTMmxlgqj3IR",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Dados').item.json.telefone }}",
          "tableName": "mensagens",
          "contextWindowLength": 20
        },
        "id": "7c150269-364c-4668-95fd-58aa2a4ed500",
        "name": "Memoria",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          15408,
          12304
        ],
        "credentials": {
          "postgres": {
            "id": "GXA97TFFsDH1xkDn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "agendamentos",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', '') }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', '') }}"
              },
              {
                "fieldId": "servico",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', '') }}"
              },
              {
                "fieldId": "data",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', '') }}"
              },
              {
                "fieldId": "hora",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', '') }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', '') }}"
              }
            ]
          }
        },
        "id": "ab7522ff-0c7b-4f68-a735-ae189c008a57",
        "name": "Agendar",
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          15536,
          12304
        ],
        "credentials": {
          "supabaseApi": {
            "id": "HoI9l5OTgXnvzb6O",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "clientes",
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $('Dados').item.json.telefone }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', '') }}"
              }
            ]
          }
        },
        "id": "720d704a-20a8-4949-aba1-b13537f10793",
        "name": "Atualiza",
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          15664,
          12304
        ],
        "credentials": {
          "supabaseApi": {
            "id": "HoI9l5OTgXnvzb6O",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "servicos",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', '') }}"
              },
              {
                "fieldId": "preco",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', '') }}"
              },
              {
                "fieldId": "duracao",
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', '') }}"
              }
            ]
          }
        },
        "id": "af800a5e-9266-4ad0-ae55-da7819e4f7d7",
        "name": "criar_servico",
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          15792,
          12304
        ],
        "credentials": {
          "supabaseApi": {
            "id": "HoI9l5OTgXnvzb6O",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "https://docs.google.com/document/d/1a2P1Q6U_3fMVi9_ihSmQirKkVfWoXwYYgdhD-16-UsM/edit?tab=t.0#heading=h.qrq85dj5rljt",
          "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
        },
        "id": "f44f9a38-b408-4974-a721-ce9ec381b7bf",
        "name": "servicos",
        "type": "n8n-nodes-base.googleDocsTool",
        "typeVersion": 2,
        "position": [
          15920,
          12304
        ],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "yWNpi00EICZb5iFz",
            "name": "Google Docs account"
          }
        },
        "notes": "Ferramenta responsável por consultar serviços, valores e horários disponíveis da barbearia.\nUse esta tool para informar preços, duração dos serviços, disponibilidade da agenda, horários de funcionamento e detalhes sobre atendimentos.\nIdeal para automatizar respostas rápidas aos clientes e facilitar agendamentos no sistema."
      },
      {
        "parameters": {
          "description": "Atue como um especialista senior em automacoes com n8n, CRM para barbearias e integracoes com WhatsApp."
        },
        "id": "c0c3ea64-6ee8-46d8-9403-25c9d4827951",
        "name": "Think",
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1.1,
        "position": [
          16176,
          12304
        ]
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "=public",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "=conversas",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "mensagem": "={{ $json.output }}",
              "telefone": "={{ $('Dados').item.json.telefone }}",
              "tipo": "ia",
              "criado_em": "={{ $('Dados').item.json.date_time }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "mensagem",
                "displayName": "mensagem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "criado_em",
                "displayName": "criado_em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tipo",
                "displayName": "tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "5d56a66a-bb16-4a04-93a2-cc65f48b5747",
        "name": "Salvar resposta da ia",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          16368,
          12080
        ],
        "credentials": {
          "postgres": {
            "id": "GXA97TFFsDH1xkDn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1e66",
                "name": "text",
                "value": "={{ String($('André, Atendente').item.json.output || '').trim().split('\\n\\n') }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "30f3552b-1277-4da3-8cc3-a321b16458dd",
        "name": "Organização",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16576,
          12080
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "text",
          "options": {}
        },
        "id": "e39bb632-358e-41dc-80b0-a898025aed77",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          16784,
          12080
        ]
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "Agente",
          "remoteJid": "={{ $('Dados').item.json.telefone }}",
          "messageText": "={{ $json.text }}",
          "options_message": {}
        },
        "id": "4a1562fa-3d8b-41ca-9435-03c81d8fc318",
        "name": "Enviar texto",
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          16960,
          12080
        ],
        "credentials": {
          "evolutionApi": {
            "id": "Y5qPtPNRsSXjJmRW",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {},
        "id": "8a26ec2f-3c42-43b6-9f49-359cd29917a7",
        "name": "Wait1",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          14496,
          12272
        ],
        "webhookId": "b1e14f33-7d9c-4a4d-80a2-de2debdb4d8e"
      },
      {
        "parameters": {
          "resource": "calendar",
          "calendar": {
            "__rl": true,
            "value": "a7477a01b2798861b30cf0f068dfd4890e8f0dca887097c339434bf14146c55c@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Agenda Barbearia "
          },
          "options": {}
        },
        "id": "c9a56b47-e1ad-49b2-af9e-cf382af5ea11",
        "name": "Calendario",
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          16048,
          12304
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "gf6aljMxzBI5oFfJ",
            "name": "Google Calendar account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados": {
        "main": [
          [
            {
              "node": "Analiz Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analiz Client": {
        "main": [
          [
            {
              "node": "Client ou não",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Client ou não": {
        "main": [
          [
            {
              "node": "Apaga",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apaga": {
        "main": [
          [
            {
              "node": "Atualizar Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Cliente": {
        "main": [
          [
            {
              "node": "Regra",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Regra": {
        "main": [
          [
            {
              "node": "Criar chave",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar chave",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar chave": {
        "main": [
          [
            {
              "node": "Chat Memory Manager",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar chave": {
        "main": [
          [
            {
              "node": "isblocked?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isblocked?": {
        "main": [
          [
            {
              "node": "inserir mensage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Image",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message": {
        "main": [
          [
            {
              "node": "Geral",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Geral": {
        "main": [
          [
            {
              "node": "Enviar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audio": {
        "main": [
          [
            {
              "node": "Convert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "Audio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audio1": {
        "main": [
          [
            {
              "node": "Geral",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Image": {
        "main": [
          [
            {
              "node": "Convert1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert1": {
        "main": [
          [
            {
              "node": "Analyze an image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze an image": {
        "main": [
          [
            {
              "node": "image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "image": {
        "main": [
          [
            {
              "node": "Geral",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Video": {
        "main": [
          [
            {
              "node": "Convert2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert2": {
        "main": [
          [
            {
              "node": "Analyze video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze video": {
        "main": [
          [
            {
              "node": "Video1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Video1": {
        "main": [
          [
            {
              "node": "Geral",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Criar": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Analiz Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar": {
        "main": [
          [
            {
              "node": "Buscar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete": {
        "main": [
          [
            {
              "node": "listaMensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "listaMensagens": {
        "main": [
          [
            {
              "node": "Salvar mensagem do cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar mensagem do cliente": {
        "main": [
          [
            {
              "node": "André, Atendente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "André, Atendente": {
        "main": [
          [
            {
              "node": "Salvar resposta da ia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memoria": {
        "ai_memory": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "Chat Memory Manager",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "inserir mensage",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Agendar": {
        "ai_tool": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza": {
        "ai_tool": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "criar_servico": {
        "ai_tool": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "servicos": {
        "ai_tool": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Salvar resposta da ia": {
        "main": [
          [
            {
              "node": "Organização",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Organização": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Buscar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calendario": {
        "ai_tool": [
          [
            {
              "node": "André, Atendente",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "André Verissimo",
    "name": "Version 2f7dd5d3",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-12T16:16:04.341Z",
        "id": 134,
        "workflowId": "1CUu2mqTMxbYCz9R",
        "versionId": "2f7dd5d3-7582-4ec9-804c-6acd3b4c9bb9",
        "event": "activated",
        "userId": "89930dd7-4d1d-4c2b-805a-94e66ccb6a46"
      }
    ]
  }
}